.container {
  width: 100vw;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
.right-side-container {
  width: 80vw;
  /* width: 100%; */
  
  height: 100vh;
}

.top-nav-bar {
  position: absolute;
  top: 0px;
  margin: 5px 0;
  position: relative;
  overflow: hidden;
  height: 9vh;
  width: 100%;
  background-color: #d9d9d9;
}

.top-nav-bar h1 {
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 45px;
}

.top-nav-bar > img,button,.myBtn {
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 5px;
}
.myBtn{
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 30px;
  font-size: 2rem;
}
.main-area {
  width: 100%;
  display: grid;
  grid-template-columns: 17% 83%; 
  /* gap: 0 50px; */
  height: 89vh;
  

}

.left-actions-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.left-actions-container::-webkit-scrollbar {
  width: 0.1em;
}
.left-actions-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.right-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:baseline;
  justify-content: center;
  border-left: 1px dotted slategray;

}

.data-grid-container{
  width: 100%;
  overflow-x: hidden;
  /* overflow-y: scroll; */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  

}
.data-grid-container ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.data-grid-container::-webkit-scrollbar,.data-grid-container ul::-webkit-scrollbar {
  width: 0.1em;
}
.data-grid-container::-webkit-scrollbar-thumb,.data-grid-container ul::-webkit-scrollbar-thumb {
  background-color: transparent;
}

@media screen and (max-width: 700px) {
  .right-side-container{
    width: 100vw;
  }
  .main-area {
    /* margin-top: 30px; */
    grid-template-columns: 100%;
    grid-template-rows: 15%; 
    height: 100vh;
  }
  .left-actions-container{
    flex-direction: row;
    justify-content: start;
    height: 80%;
    width: 100%;
  }

}