.grid-list{
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: 8% 80% 8%; 
  min-width: 65vw;
  width: 100%;
  align-items: center;
  justify-items: center;
  /* gap: 5%; */
}
li .grid-para {
  /* clear: left; */
  overflow-y: scroll;
  overflow-x: hidden;
  width: 90%;
  /* min-width: 90%; */
  min-height: 40px;
  max-height: 100px;
  padding: 8px 10px;
  font-family: "Josefin Sans", sans-serif;
  border-radius: 10px;
  background-color: #c4dcd3;
  box-shadow: 0 2px 5px black;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.grid-para::-webkit-scrollbar {
  width: 0.1em;
}

.grid-para::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.star{
  font-size: 30px;
}
/* .star svg{
  width: 100px;
  height: 200px;
} */
.star:hover{
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
