.sidebar{
    display: block;
    width: 20vw;
    height: 100vh;
    background: #DBEADD;
    border-right: 0.2px solid rgba(0,0,0,0.2);
    padding:0 20px 0 1px ;
}
.logo-bar{
    padding:20px;
    display: flex;
    overflow: hidden;
    /* justify-content: ; */
    place-items: center;
    align-items: center;
    gap: 5%;
    width: 100%;
    height: 100px;
    /* border-bottom: 1px solid black; */
    
}
.logo-bar:hover{
    cursor: pointer;
}
.logo-bar img{
    width:46px ;
    height: 51px;
}
.logo-bar h1{
    padding-top: 10px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: #0D5329;
}
.side-bar-buttons-container{
    width: 100%;
    overflow-x: visible !important;
}