.actionButton{
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 90%;
    max-width: 130px;
    max-height: 110px;
    padding: 30px 10px 30px 10px; 
    font-family: 'Josefin Sans',sans-serif;
    border-radius: 32px;
    background-color: #C4DCD3;
    box-shadow: 0 2px 5px black;

}
.actionButton h3{
    margin:0 auto 10px auto;
    text-align: center;
}
.actionButton img{
    margin: 0 auto;
    width: 20px;
}
.actionButton:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);  
    background-color: #D9D9D9;
}
.actionButton:hover{
    cursor: pointer;
}