.actionButton {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: middle;
  overflow: hidden;
  width: 90%;
  height: 20%;
  max-width: 130px;
  max-height: 110px;
  /* padding: 30px 10px 30px 10px;  */
  padding: 20% 5%;
  font-family: "Josefin Sans", sans-serif;
  border-radius: 30%;
  background-color: #c4dcd3;
  box-shadow: 0 2px 5px black;
}
.actionButton h3 {
  margin: 0 auto 10px auto;
  text-align: center;
}
.actionButton img {
  margin: 0 auto;
  width: 15%;
}
.actionButton:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  background-color: #d9d9d9;
}
.actionButton:hover {
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .actionButton {
    width: 20%;
    height: 90%;
    padding: 5% 3%;
  }
  .actionButton h3 {
    font-size: smaller;
    margin: 0 auto 5px auto;
    text-align: center;
  }
  .actionButton img {
    margin: 0 auto;
    width: 15px;
  }
  @media screen and (max-width: 450px) {
    .actionButton {
      width: 18%;
      height: 100%;
      padding: 4% 2%;
      position: relative;
    }
    .actionButton h3 {
      font-size: 0.7em;
      margin: 50% auto;
    }
    .actionButton img {
      margin: 0 auto;
      width: 12px;
      position: absolute; 
      bottom: 5px;
      left: 40%; 
    }
  }
 
}
 @media screen and (max-width: 360px) {
     .actionButton { 
      width: 18%;
      height: 100%;
      padding: 4% 2%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20%;
      position: relative;
    }
    .actionButton h3 {
      font-size: 0.5em;
      margin: 40% auto;

     } 
    .actionButton img {
      margin: 0 auto;
      width: 12px;
      position: absolute;
      bottom: 5px;
      left: 40%;
    } 
  } 
@media screen and (max-height: 400px) and (max-width: 700px) {
  .actionButton {
    width: 10%;
    height: 100%;
    padding: 1.5% 1%;
    /* position: relative; */
  }
  .actionButton h3 {
    font-size: 0.7em;
    margin-top: 8%;
  }
  .actionButton img {
    width: 12px;
    /* position: absolute;
    bottom: 5px;
    left: 40%; */
  }
}
@media screen and (max-height: 720px)  and (max-width: 700px) {
  /* .actionButton {
    width: 10%;
    height: 100%;
    padding: 1.5% 1%;
    position: relative;
  } */
  .actionButton h3 {
    font-size: 0.5em;
    margin-block: 8%;
  }
  .actionButton img {
    width: 12px;
    /* position: absolute;
    bottom: 5px;
    left: 40%; */

  }
} 

