.navButtons{
    display: flex;
    width: 100%;
    height: 50px;
    margin-block: 12px;
    padding-left:15px ;
    background-color: #C4DCD3;
    gap: 15px;
    font-family: 'Josefin Sans',sans-serif;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px black;
    transition: all 0.2s ease-in-out;
}
.active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);  
    background-color: #D9D9D9;
}